<!-- lịch sử mua hàng -->
<div class="tab-pane fade" id="order" role="tabpanel">
    <div class="card bg-navbar-dark info">
        <div class="card-header bg-navbar-dark text-white">
            <i class="fas fa-table me-1"></i>
            Lịch sử mua hàng
        </div>
        <div class="card-body text-white">
            <div class="rounded">


                <div class="mt-3">
                    <table class="data-table" id="datatablesSimple"
                        style="border: 1px solid #ccc; padding: 8px;">
                        <thead>
                            <tr>
                                <th scope="row">Mã đơn</th>
                                <th scope="row">Loại thanh toán</th>
                                <th scope="row">Ngày thanh toán</th>
                                <th scope="row">Trạng thái</th>
                                <th scope="row">Tổng tiền</th>
                                <th scope="row" data-sortable=false></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th scope="row">Mã đơn hàng</th>
                                <th scope="row">Loại thanh toán</th>
                                <th scope="row">Ngày thanh toán</th>
                                <th scope="row">Trạng thái</th>
                                <th scope="row">Tổng tiền</th>
                                <th scope="row" data-sortable=false></th>
                            </tr>
                        </tfoot>
                        <tbody class="table-border-bottom-0">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- lịch sử mua hàng -->