<!-- Carousel -->
<div class="container-fluid pt-3">
    <main>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide--item">
                    <img src="20xx.webp" alt="">
                    <div class="pt-1">
                        <a class="text-decoration-none" href="">
                            <h2>20XX</h2>
                        </a>
                        <p>20XX is a roguelike action platformer that you can play with a friend. Jump and shoot
                            your way through ever-changing levels, collect awesome new powers, and battle mighty
                            bosses in the name of saving the human race maybe!.</p>
                        <div class="pt-0">
                            &nbsp;
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide--item">
                    <img src="30xx.webp" alt="">
                    <div class="pt-1">
                        <a class="text-decoration-none" href="">
                            <h2>30XX</h2>
                        </a>
                        <p>
                            Jump, shoot, and slash your way through 30XX, the roguelike action platformer you can
                            play with a friend! Explore lush, ever-changing worlds that mix precise platforming with
                            fevered combat. Destroy fearsome Guardians. Master unique Powers. Rediscover the
                            thousand years we've lost.
                        </p>
                        <div class="pt-0">
                            &nbsp;
                        </div>
                    </div>
                </div>

                <div class="swiper-slide swiper-slide--item">
                    <img src="adofai.webp" alt="">
                    <div class="pt-1">
                        <a class="text-decoration-none" href="">
                            <h2>A Dance of Fire and ice</h2>
                        </a>
                        <p>
                            A Dance of Fire and Ice is a strict rhythm game. Keep your focus as you guide two
                            orbiting planets along a winding path without breaking their perfect equilibrium.
                        </p>
                        <div class="pt-0">
                            &nbsp;
                        </div>
                    </div>
                </div>

                <div class="swiper-slide swiper-slide--item">
                    <img src="among-us.webp" alt="">
                    <div class="pt-1">
                        <a class="text-decoration-none" href="">
                            <h2>Among Us</h2>
                        </a>
                        <p>
                            An online and local party game of teamwork and betrayal for 4-15 players...in space!
                        </p>
                        <div class="pt-0">
                            &nbsp;
                        </div>
                    </div>
                </div>

                <div class="swiper-slide swiper-slide--item">
                    <img src="angels-of-death.webp" alt="">
                    <div class="pt-1">
                        <a class="text-decoration-none" href="">
                            <h2>Angels of Death</h2>
                        </a>
                        <p>
                            "Please... kill me." "Help me get outta here, and I'll kill you." ~ Angels of Death is a
                            psychological horror-adventure game, consisting of four episodes.
                        </p>
                        <div class="pt-0">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <img src="https://cdn.pixabay.com/photo/2021/11/04/19/39/jellyfish-6769173_960_720.png" alt="" class="bg">
        <img src="https://cdn.pixabay.com/photo/2012/04/13/13/57/scallop-32506_960_720.png" alt="" class="bg2">
    </main>
</div>
<!-- Carousel -->
