<!-- Footer -->
<footer class="footer mt-auto py-3 bg-navbar-dark sticky-top">
    <div class="container">
        <ul class="nav justify-content-center mb-2">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Trang Chủ</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Điều khoản và dịch vụ</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Chính sách bảo mật</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Về chúng tôi</a></li>
        </ul>
        <ul class="nav justify-content-center border-bottom pb-3 mb-4">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa-brands fa-facebook fa-2xl"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa-brands fa-discord fa-2xl"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa-brands fa-youtube fa-2xl"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa-brands fa-twitter fa-2xl"></i></a></li>
        </ul>
        <p class="text-center text-muted">© 2023 GameStore</p>
    </div>
</footer>
<!-- Footer -->