<div class="col-md-3 pt-3 mb-3 game" id="game_table">
    <div class="card bg-transparent h-100 border-0">
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Bloons TD 6"
            href="http://127.0.0.1:8000/game-detail/2">
            <img class="card-img-top game-img center-img" src="../TemplateWeb/bloons-td-6.webp"
                alt="..." loading="lazy" />
        </a>
        <div class="card-body">
            <div class="">
                <a class="text-decoration-none text-dark" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Bloons TD 6"
                    href="http://127.0.0.1:8000/game-detail/2">
                    <h5 class="text-white">Bloons TD 6</h5>
                </a>
            </div>
            <div class="">
                <p class="text-white"> 120.000đ</p>
            </div>
        </div>
    </div>
</div>



<!-- Nothing worth having comes easy. - Theodore Roosevelt -->