<div class="card-body">
    <!-- Single item -->
    <div class="row">
        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
            <!-- Image -->
            <div class="bg-image hover-overlay hover-zoom ripple rounded"
                data-mdb-ripple-color="light">
                <a href="http://127.0.0.1:8000/game-detail/1">
                    <img src="../TemplateWeb/bloons-td-5.webp"
                        class="rounded shadow-sm w-100" alt="bloons-td-5.webp">
                </a>
                <a href="#!">
                    <div class="mask"
                        style="background-color: rgba(251, 251, 251, 0.2)">
                    </div>
                </a>
            </div>
            <!-- Image -->
        </div>

        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0 text-white">
            <div class="row">
                <p class="h5"><strong>Bloons TD 5</strong></p>

                <!-- Price -->
                <p class=""> 188.000đ</p>
                <!-- Price -->
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <!-- Quantity -->
            <div class="row" style="max-width: 300px">
                <div class="col-2 me-4">
                    <button class="btn btn-danger px-3"
                        onclick="decrementQuantity(this)">
                        <i class="fas fa-minus" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="form-outline col-6">
                    <div class="text-center">
                        <form action="http://127.0.0.1:8000/cart/update" method="post">
                            <input type="hidden" name="_token"
                                value="i7Mf2pkxRgNzphbjQAd6jSNxpgEV5QMDWZcQoZ7V"> <input
                                type="hidden" name="_method" value="put"> <input
                                id="quantity" min="1" name="quantity" value="1"
                                type="number" class="form-control">
                            <input id="price" name="price" value="188000" type="hidden"
                                class="form-control">
                            <input name="id" type="hidden" value="1">
                        </form>
                    </div>

                    <div class="pt-3 d-flex justify-content-center">
                        <form action="http://127.0.0.1:8000/cart/remove" method="post">
                            <input type="hidden" name="_token"
                                value="i7Mf2pkxRgNzphbjQAd6jSNxpgEV5QMDWZcQoZ7V"> <input
                                type="hidden" name="_method" value="delete"> <input
                                name="id" type="text" value="1" hidden>
                            <button name="delete" type="submit"
                                class="btn btn-danger btn-sm me-1 mb-2"
                                data-mdb-toggle="tooltip" title="Remove item">
                                <i class="fas fa-trash"></i> Xóa
                            </button>
                        </form>
                    </div>
                </div>

                <div class="col-2">
                    <button class="btn btn-primary px-3"
                        onclick="incrementQuantity(this)">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <!-- Quantity -->
        </div>
    </div>
    <!-- Single item -->

    <hr class="my-2" />
</div>